<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.app.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/mag_logo" android:label="@string/app_name" android:debuggable="true">
        
        <activity android:name=".LoginWindow"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity android:label="Mitschriften Archiv" android:name=".MainWindow">
      	</activity>
      	
      	<activity android:label="Informationen und Kontaktdaten" android:name=".Info">
      	</activity>
      	
      	<activity android:label="Einstellungen" android:name=".Prop">
      	</activity>
        
        <activity android:label="QR-Code scannen" android:name=".BarC">
      	</activity>
        

    </application>
</manifest>